<div id="<%= dom_id pizza %>">
  <p>
    <strong>Storage:</strong>
    <%= pizza.Storage %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= pizza.Ingredients %>
  </p>

  <p>
    <strong>Suppliers:</strong>
    <%= pizza.Suppliers %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= pizza.Date %>
  </p>

</div>
